color{
--color-bg-primary: ;
--color-bg-secondary: ;
--color-headings: ;
--color-text: ;
}
html{
    scroll-padding-top: 80px;
}
body{
    background-color: var(--color-bg-primary);
    color:var(--color-text);
}
header{
    background-color: var(--color-bg-secondary);
    color:var(--color-headings);
}
footer{
    background-color: var(--color-bg-secondary);
    position: fixed;
    button:0;
    width: 100%;;
}
h1{
    color:var(--color);
}
a{
    text-decoration: none;
    color: var(--color-text);
}
a:hover{
    color:var(--color-headings)
}